.container {
  min-height: calc(100vh - 48px);
  width: 100%;
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    width: 100%;
  }
}


// un-used
.scroll {
  width: 100px;
  display: block;
  // height: 120vh;
  // background-color:aqua;
  overflow-y: scroll;
  margin-left: auto;
  // touch-action: none; // once this line open, iPad won't scroll.
}