.container {
  min-height: calc(100vh - 48px);
  width: 100%;
  background-color: #fff;
  padding: 24px;
  overflow-y: scroll;
}

.pageHeader {
  margin-right: 12px;
  margin-bottom: 0;
  color: #000000d9;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.descriptions, 
.form {
  padding: 16px 24px;
}